.sc-table-header {
  background: static_url('resources/table_header_background_3.png') center left;
  border-bottom: 1px solid #CACACA;
}

.sc-table-header .sc-table-cell {
  overflow: visible;
}

.sc-table-header label {
  display: block;
  font-family: Helvetica;
  line-height: 26px;
  font-weight: normal;
  color: #363636;
  overflow: hidden;
  text-overflow: ellipsis;
  height: auto;
  margin: 0px;
}

  .sc-table-header .sc-thumb-view {
    z-index: 3;
    overflow: visible;
    background: static_url('resources/grippy2.png') 6px center no-repeat;
  }

    .sc-table-header .sc-thumb-view:hover, .sc-table-header .sc-thumb-view.dragging {
      background: static_url('resources/grippy.png') 6px center no-repeat;
    }

    .sc-table-header .dragger {
      position: absolute;
      top: 0px;
      right: -2px;
      width: 0px;
      bottom: 0px;
      border-right: 1px solid rgba(255, 255, 255, .5);
      border-left: 1px solid rgba(0, 0, 0, .1);
    }
    
    .sc-table-header .dragging .dagger {
      display: none;
    }
    
.sc-table-data-view .sc-dataview-row.odd {
/*  background-color: #f6fafe;*/
  background-color: #f9fafb;
}


.sc-table-data-view .sc-dataview-row.sel {


/*  background-color: #38a0f0;*/
  background-color: #72bdf7;
/*  background-color: #84c1f0;*/
/*  border-bottom: 1px solid #5ab5fb;*/
/*  border-bottom: 1px solid white;*/
  color: white;
}

.sc-table-data-view .sc-dataview-row.sel .sc-label-view {
/*  background-color: #6aabe3;*/
  color: white;
  font-weight: bold;
}






/*.sc-table-data-view .table-cell {*/
/*  border-right: 1px solid rgba(0, 0, 0, .05);*/
/*background-color: white;*/
/*}*/

.sc-table-data-view .sc-dataview-row {
  background-color: white;
}

.sc-table-data-view .sc-dataview-row.sel .table-cell {
  border-right: none;
}

.sc-table-data-view .table-cell .sc-label-view {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Helvetica;
  font-size: 12px;
  line-height: 30px;
  
  color: #404040;
}



.sc-table-data-view .sc-dataview-row {
/*  border-bottom: 1px solid rgba(0, 0, 0, .07);*/
}

.sc-table-data-view .odd.sc-dataview-row {
/*  border-bottom: 1px solid rgba(0, 0, 0, .05);*/
}


.sc-table-data-view .odd {
/*  background-color: #f9fafb;*/
}

.sc-sort-state-asc {
  background-image: static_url('resources/sort-asc.png');
  background-repeat: no-repeat;
  background-position: center center;
  opacity: .45;
}

.sc-sort-state-desc {
  background-image: static_url('resources/sort-desc.png');  
  background-repeat: no-repeat;
  background-position: center center;
  opacity: .45;

}
